.wysiwyg_imageupload_browser_active {
  background:white;
  border:1px solid black;
  border-bottom:3px solid white;
  height:20px;
  z-index:2;
}
.wysiwyg_imageupload_browser_inactive {
  background:#f2f2f2;
  border:1px solid #ccc;
  height:20px;
  z-index:1;
}
.wysiwyg_imageupload_browser_active a{
  z-index:3;
}
.wysiwyg_imageupload_browser_active a:link,
.wysiwyg_imageupload_browser_active a:visited,
.wysiwyg_imageupload_browser_inactive a:link,
.wysiwyg_imageupload_browser_inactive a:visited {
  color:#222;
  margin:5px auto;
  max-height:20px;
}
#wysiwyg-imageupload-upload-form #file_upload_group {
  float:left;
}